.profile__description {
    margin: 0;
    grid-area: description;
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (max-width: 1024px) {
    .profile__description {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .profile__description {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
    }
}