.popup__image-name {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
  }